* {
    margin: 0;
    padding: 0;
}

:root {
    letter-spacing: 130%;
    line-height: 170%;
    font-size: 14pt;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 969px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

main {
    width: 90%;
    margin: 0 auto;
}

img {
    width: 80px;
    border-radius: 50%;
    margin-top: 2rem;
}

.main-head {
    font-family: Oswald, serif;
    text-align: center;
    padding: 3rem;
    color: crimson;
}

#article-first,
#article-second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    font-family: Zilla Slab, serif;
}

#article-second {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.second-head {
    text-align: center;
    font-family: sans-serif;
    padding: 2rem;
    color: rgb(32, 139, 80);
}

footer {
    text-align: center;
    font-family: sans-serif, serif;
    font-size: xx-small;
    padding: 2rem;
}

@media only screen and (max-width: 969px) {
    body {
        width: fit-content;
    }
    header {
        width: fit-content;
    }
    .main-head, .second-head {
        text-align: left;
        padding: 1rem 0rem;
        width:fit-content;

    }
    #article-first {
        grid-template-columns: repeat(1, 1fr);
    }
    #article-first, #article-second {
        width: 80%;
    }
    footer {
        text-align: left;
        width: fit-content;
    }
}